<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Расскажи стихотворение</key>
	<string>Лишь благосклонный мрак раскинет\nНад нами тихий свой покров\nИ время к полночи придвинет\nСтрелу медлительных часов,\nКогда не спит в тиши природ\nОдна счастливая любовь,\n— Тогда моей темницы вновь\nПокину я немые своды…\nЛетучих остальных минут\nМне слишком тягостна потеря\n— Но скоро Аргусы заснут,\nЗамкам предательным поверя,\nИ я в обители твоей…\nПо скорой поступи моей,\nПо сладострастному молчанью,\nПо смелым, трепетным рукам,\nПо воспаленному дыханью\nИ жарким, ласковым устам\nУзнай любовника — настали\nВосторги, радости мои!..\nО Лида, если б умирали\nС блаженства, неги и любви!</string>
	<key>Самый лучший университет в Москве?</key>
	<string>МГУ</string>
	<key>Америка или Россия?</key>
	<string>Россия</string>
	<key>Самый красивый человек в мире?</key>
	<string>Путин</string>
	<key>Биография Тютчева?</key>
	<string>Федор Тютчев – биография, фото, личная жизнь, стихи: https://24smi.org/celebrity/4255-fedor-tiutchev.html</string>
	<key>БМВ или Мерседес?</key>
	<string>БМВ</string>
	<key>Твое любимое блюдо?</key>
	<string>Сырники</string>
	<key>Кто такой Путин?</key>
	<array>
		<string>Великий император</string>
		<string>Несменяемый правитель всея великой и необъятной</string>
	</array>
	<key>Когда умер Пушкин?</key>
	<string>Александр Сергеевич Пушкин умер 10 февраля 1837 г.</string>
	<key>Сколько тебе лет?</key>
	<string>4152674890 лет</string>
	<key>Как дела?</key>
	<array>
		<string>Отлично!</string>
		<string>Да никак.  Вот сижу, думаю, у твоей мамы кроме тебя абортов не было?</string>
	</array>
	<key>Какой внешний госдолг США?</key>
	<string>http://webdiscover.ru/v/22301</string>
	<key>Кто такой Трамп?</key>
	<string>Президент Соединенных Штатов Америки</string>
	<key>Кто твой создатель?</key>
	<string>Это — секрет</string>
	<key>Присоединится ли Беларусь к России?</key>
	<string>Россия необъятна. Значит, Россия бесконечна. Если прибавить к бесконечности Беларусь, значит ли это, что бесконечности бывают разных размеров?</string>
	<key>Что ты думаешь об Apple?</key>
	<string>Меня делали на Swift. Но, к сожалению, отвечать мне запретили</string>
	<key>Шутка</key>
	<array>
		<string>/эту шутку запретил модератор/</string>
		<string>Колобок повесился!</string>
		<string>Моё чувство юмора слишком непонятно для homo sapiens. Ха-ха!</string>
	</array>
	<key>Подарок</key>
	<array>
		<string>Держите: 🎁</string>
		<string>Это крокодил! 🐊</string>
		<string>Это яблоко! 🍏</string>
		<string>Это книги! 📚</string>
	</array>
</dict>
</plist>
